{{#if label}}
  <span 
    local-class="
      {{spark 'label'}}
      {{if value (spark 'visible')}}
    "
  >
    {{_inputLabel}}
  </span>
{{/if}}

<span 
  local-class="
    {{spark 'input'}}
    {{if _isFocused (spark 'focused')}}
    {{if disabled (spark 'disabled')}}
    {{if _showError (spark 'has-error')}}
  "
  {{action "focus"}}
>

  {{#if hasBlock}}
    <span local-class={{spark 'icon'}}>
      {{yield}}
    </span>
  {{/if}}

  {{#if prefix}}
    <span local-class={{spark 'prefix'}}>
      {{prefix}}
    </span>
  {{/if}}

  <input
    type={{_inputType}}
    local-class="
      {{spark 'core-input'}}
      {{if _isFocused (spark 'focused')}}
    }}"
    name={{name}}
    placeholder={{placeholder}}
    value={{value}}
    maxlength={{maxlength}}
    disabled={{disabled}}
    readonly={{readonly}}
    onfocus={{action "onFocus"}}
    onblur={{action "onBlur"}}
    onkeyup={{action "onKeyUp"}}
    onkeydown={{action "onKeyDown"}}
    oninput={{action "onInput"}}
    onchange={{action "onChange"}}
  />

</span>

{{#if _showError}}
  {{component errorComponent
    local-class=(spark 'error')
    error=error
    scrollOnError=scrollOnError
  }}
{{/if}}

